
body{
    overflow: hidden;
    background: #edf2ff;
}
.upload-form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: auto;
    border: 2px solid #0000002e;
    margin-right: auto;
    width: 369px;
    padding: 15px;
    background-color: white;
    position: relative;
    z-index:999999999999999;
}
.upload-form > h4{
    text-align: center;
}

.waifu > img{
    position: absolute;
    right: 0;
    bottom: -38px;
    transform: rotate(-20deg);
    height: 250px;
    width: 250px;
    z-index: 999999999999999999999999;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
}
.form-group > textarea{
    height: 100px;
}
.form-group > .file-input {
    margin-right: auto;
    margin-left: auto;
}

.submit-btn{
    background-color: white;
    border: 1px solid black;
    height: 40px;
    font-size: 1.3em;
    margin-top: 10px;
}

.form-group > label{
    text-align: center;
    margin-bottom: 15px;
}
.title{
    font-size: 2em;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.succ{
    color: green;
}


.stop-the-pain{
    z-index: 9999999999999991;
    width: 175px;
    height: 120px;
    bottom: 500px;
    border: 2px solid grey;
    position: absolute;
    right: 0;
    font-size: 1.5em;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    
}
.stop-the-pain:hover{
    background-image: url(https://s3.us-east-2.amazonaws.com/mumblepicrandom/lol2.JPG);
}
/* .on-hover-img{
    width: 150px;
    height: 55px;
    display: none;
} */

/* .on-hover-img:hover{
    display: block;
} */