<html>
    <title>hmmm..</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <body>
        <div class='form-container'>
            <form enctype="multipart/form-data"  class='upload-form' action="/" method="POST">
                <marquee><p class="succ">{{msg}}</p></marquee>
                <p class='title'>upload some sweet stuff</p>

                <div class="form-group">
                    <input required class='file-input' type="file" name="file">
                </div>

                <div class="form-group">
                    <input class="submit-btn" type="submit">
                </div>
            </form>
        </div>

        
        <button id='stopThePain' class="stop-the-pain">
            <!-- <img src="https://s3.us-east-2.amazonaws.com/mumblepicrandom/lol.JPG" alt="hahahaH" class="on-hover-img"> -->
            stop the pain
        </button>

        <div class="waifu">
            <img 
                src="https://i.ibb.co/MfpXB88/Ds5mk0-RU0-AA1z-l-removebg.png"
                alt="Ds5mk0-RU0-AA1z-l-removebg" 
                border="0"
                />
        </div>
        <script>
            let pain = true;
            let counter = 0;
            setInterval(function() { 
                if(pain){
                    const allAudioElements = document.querySelectorAll("audio"); 
                    for(audio in allAudioElements){
                        try{
                            allAudioElements[audio].play();
                        }catch(err){
                            console.log(err)
                        }
                    }
                }
            }, 10000);

            // setInterval(function() { 
            //     document.getElementById("stopThePain").style.backgroundColor = `rgba(${Math.floor((Math.random()*255) + 1)}, ${Math.floor((Math.random()*255) + 1)}, ${Math.floor((Math.random()*255) + 1)}, 0.${Math.floor((Math.random()*99) + 1)})`;
            // }, 1000);

            

            document.getElementById("stopThePain").addEventListener("mouseover", function() {
                if(Math.floor(Math.random()*30) + 1 !== 3){
                    document.getElementById("stopThePain").style.bottom = Math.floor((Math.random()*1000) + 1)
                    document.getElementById("stopThePain").style.right = Math.floor((Math.random()*1000) + 1)
                }
            });

            document.getElementById("stopThePain").addEventListener("click", () => {
                const allAudioElements = document.querySelectorAll("audio"); 
                if(counter >= 2){
                    document.getElementById("stopThePain").innerHTML = 'haha'
                }
                if(pain){
                    for(audio in allAudioElements){
                        console.log("allAudioElements[audio", allAudioElements[audio])
                        try{
                            pain = false;
                            allAudioElements[audio].pause();
                        }catch(err){
                            pain = false;
                            console.log(err)
                        }
                    }
                    if(counter < 2){
                        document.getElementById("stopThePain").innerHTML = 'i seek thine pain'
                    }
                    counter++;
                }else{
                    for(audio in allAudioElements){
                        try{
                            pain = true;
                            allAudioElements[audio].play();
                        }catch(err){
                            pain = true;
                            console.log(err)
                        }
                    }
                    if(counter < 2){
                        document.getElementById("stopThePain").innerHTML = 'stop the pain'
                    }
                    counter++;
                }

                pain = false;
            });
            
        
        </script>

        <div class="lol">
            {% for file_obj in file_arr %}

                {% if file_obj['type'] == 'img' %}
                <img 
                    src="{{file_obj['file']}}" 
                    alt=""
                    style="{{file_obj['rand_css']}}"
                />
                {% elif file_obj['type'] == 'audio' %}
                    <audio id='myAudio' controls autoplay>
                        <source src="{{file_obj['file']}}" type="audio/{{file_obj['ext']}}">
                    </audio>
                {% endif %}
            {% endfor %}
        </div>
    </body>


</html>